{% extends "album/base.html" %}
{% block content %}
<table class="table w-50 p-3" style="margin: auto;">
    <tr>
        {% for caption in captions %}

        <th scope="col">

            {{ caption }}
            {% if caption == 'name' %}
            <br>
            <button type="button" class="btn btn-outline-dark btn-sm"
                    onclick="window.location.href = '{% url 'album:index' sort_key=caption%}'">
                sort
            </button>
            {% elif caption == 'artist@name' %}
            <br>
            <button type="button" class="btn btn-outline-dark btn-sm"
                    onclick="window.location.href = '{% url 'album:index' sort_key='artist'%}'">
                sort
            </button>
            {% endif %}

        </th>
        {% endfor %}
    </tr>

    {% for album in albums %}
    <tr>
        {% for key, value in album.items %}
        {% if key == 'tracks' %}
        <td>
            <ul class="list-group list-group-flush">
                {% for track in value %}
                <li class="list-group-item">{{ track }}</li>
                {% endfor %}
            </ul>
            {% else %}
        <td>{{ value }}</td>
        {% endif %}

        {% endfor %}

    </tr>
    {% endfor %}
</table>
{% endblock content %}